In [13]:
ls data/data_set_0926

answer_info_0926.txt             question_info_0926.txt
invite_info_0926.txt             single_word_vectors_64d.txt
invite_info_evaluate_1_0926.txt  topic_vectors_64d.txt
member_info_0926.txt             word_vectors_64d.txt

In [14]:
import pandas as pd

In [23]:
single_word_vectors_64d_path = 'data/data_set_0926/single_word_vectors_64d.txt'
single_word_vectors_64d = pd.read_csv(single_word_vectors_64d_path,header=None, sep='\t', nrows=10)
single_word_vectors_64d

      0                                                  1
0   SW1  -0.985937 0.11307016 0.012898494 -0.6822068 -0...
1   SW2  -0.3367663 0.039051324 0.8155926 0.8351733 -0....
2   SW3  0.3074205 -1.0977745 0.7528213 0.6299011 0.197...
3   SW4  0.61494493 0.5444025 2.0673835 3.2731245 0.779...
4   SW5  -1.0922098 -2.088952 -1.9467407 -0.095274135 0...
5   SW6  1.8850589 -1.3846935 -1.3290175 -2.2212234 1.6...
6   SW7  3.5464244 1.6036447 -2.5293458 3.1333735 -2.04...
7   SW8  -2.2662137 -1.9574718 -0.13302466 -4.3436356 1...
8   SW9  -1.8233486 2.0506058 -3.2515428 -1.1880394 -1....
9  SW10  0.48556754 -0.3782651 2.2997975 2.261273 0.408...

In [21]:
single_word_vectors_64d[1].apply(lambda x: x.split(' '))

0    [-0.985937, 0.11307016, 0.012898494, -0.682206...
1    [-0.3367663, 0.039051324, 0.8155926, 0.8351733...
2    [0.3074205, -1.0977745, 0.7528213, 0.6299011, ...
3    [0.61494493, 0.5444025, 2.0673835, 3.2731245, ...
4    [-1.0922098, -2.088952, -1.9467407, -0.0952741...
5    [1.8850589, -1.3846935, -1.3290175, -2.2212234...
6    [3.5464244, 1.6036447, -2.5293458, 3.1333735, ...
7    [-2.2662137, -1.9574718, -0.13302466, -4.34363...
8    [-1.8233486, 2.0506058, -3.2515428, -1.1880394...
9    [0.48556754, -0.3782651, 2.2997975, 2.261273, ...
Name: 1, dtype: object